@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');

*{
	padding: 0;
	margin: 0;
	clear: both;
	list-style-type: none;
	list-style: none;
	text-decoration: none;
	font-family: "Lato";
}
