.event {
    max-width: $container-width;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px;
    .date {
        font-size: 1.5em;
        color: $medium-blue;
        font-weight: 900;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    .image {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-position: top center;
        background-size: cover;
        overflow: hidden;
        margin: 0 auto 20px auto;
        vertical-align: middle;
    }
    .text {
        display: block;
        max-width: 390px;
        margin: 0 auto;
        h3{
            color: $grey;
            font-weight: 900;
            margin-bottom: 20px;
            display: block;
            text-align: center;
        }
        p {
            color: $grey;
            text-align: center;
        }
    }
}

.event:first-child {
    padding-top: 50px;
}

.normal {
    .date {
    }
    .image {
        width: 250px;
        height: 250px;
    }
    .text {
        h3{
            font-size: 1.6em;
        }
    }
}

.small {
    .date {
    }
    .image {
        width: 160px;
        height: 160px;
    }
    .text {
        h3{
            font-size: 1.2em;
        }
    }
}


@media (min-width: 800px) {
    .event {
        margin-bottom: 0;
        .date {
            display: inline-block;
            vertical-align: middle;
        }
        .image {
            display: inline-block;
            vertical-align: middle;
        }
        .text {
            display: inline-block;
            vertical-align: middle;
            h3{
                text-align: left;
            }
            p {
                text-align: left;
            }
        }
    }
    .normal {
        .date {
            margin-right: 20px;
        }
        .image {
            margin-right: 50px;
        }
        .text {
            h3{
            }
        }
    }
    
    .small {
        .date {
            margin-right: 70px;
        }
        .image {
            margin-right: 90px;
        }
        .text {
            h3{
                margin-bottom: 10px;
            }
        }
    }
}

@media (min-width: 940px) {
    .event {
        padding-left: 130px;
    }
}