$grey: #4f4f4f;
$light-grey: #818181;
$main-blue: #152a6d;
$medium-blue: #123ab7;
$light-blue: #3656b7;
$main-yellow: #f8ae00;
$burn-yellow: #df9f00;
$container-width: 1200px;

@mixin transition ($time) {
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-ms-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}